.nav {
  background-color: violet;
  grid-area: nav;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  color: blue;
  font-size: x-large;
  font-style: italic;
}
.item.active {
  border-radius: 7px;
  background-color: rgba(112, 111, 110, 0.315);
  color: black;
}
