.nav {
  background-color: violet;
  grid-area: nav;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  font-style: italic;
}
.item {
  color: blue;
  font-size: large;
  font-style: italic;
  text-decoration: none;
}
.active {
  font-size: x-large;
  border-radius: 7px;
  background-color: rgba(233, 135, 38, 0.603);
  color: rgb(255, 251, 251);
  text-decoration: none;
}
