.post {
  width: 50px;
  border-radius: 50%;
}
.like_icon {
  width: 30px;
}
.like_btn {
  padding-left: 20px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.356);
}
